/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #faf0e6;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #303234;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 20px 0;
}

.profile-image img {
    max-width: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
}

.profile-info h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.location, .contact {
    font-size: 16px;
    margin: 5px 0;
}

.contact a {
    color: #3498db;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 28px;
    margin: 20px 0;
}

.job {
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.toggle-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #2980b9;
}

.example-list {
    display: none;
    list-style-type: disc;
    margin-left: 20px;
}